//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.ur-shortcuts {
  margin-top: 6em;
  p, ul, li, a, .govuk-label {
    color: #b1b4b6  !important;
    font-size: 19px !important;
  }
}