{% extends "layouts/main.html" %}

{# {% set pageName="V1" %} #}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

<h1 class="govuk-heading-xl">Admin dashboard</h1>
      
      <p class="govuk-!-margin-bottom-9">Use this dashboard to access admin services that you have permission to access.</p>
     
 

      

        
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
           
              <h2 class="govuk-heading-m">
                <a href="search-user-record-staging"  class="govuk-link govuk-link--no-underline">Search for user records</a></h2>
      <p>Search for users to view their details and manage their accounts.</p>
     
            </div>
            <div class="govuk-grid-column-one-half">
          
              <h2 class="govuk-heading-m">
                <a href="search-verification-details-staging"  class="govuk-link govuk-link--no-underline">Search for verification records</a>
              </h2>
              <p>
                Search for verification records to view verification attempts and their status.
              </p>
           
            </div>
            <div class="govuk-grid-column-one-half">
          
              <h2 class="govuk-heading-m"> <a href="search-acsp-staging.html"  class="govuk-link govuk-link--no-underline">Search for ACSP members</a>
              </h2>
        
              <p>
                Search for an ACSP to view ACSP memberships.
              </p>
        
        
              
            </div>
            
   
          
     
          <div class="govuk-grid-column-one-half">
         
              <h2 class="govuk-heading-m"> <a href="main-list"  class="govuk-link govuk-link--no-underline">Search the overseas IDV backlog</a>
              </h2>

              <p>
                Search for people who do not live in the UK, and hold a nationality that does not enable them to verify using GOV.UK One Login.
              </p>



  </div>

  <div class="govuk-grid-column-one-half">
         
    <h2 class="govuk-heading-m"> <a href="ar-verification-search.html"  class="govuk-link govuk-link--no-underline">Create verification record</a>
    </h2>

    <p>
    Create a verification record for people who have verified using either the external provider or Companies House.
    </p>



</div>

</div>

{% endblock %}
