{% extends "layouts/main.html" %}

{# {% set pageName="V1" %} #}

{% block content %}
<a href="#" class="govuk-back-link">Back to dashboard</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form class="form" action="search-user-record-staging" method="post">

    <h1 class="govuk-heading-l">Create an identity verification record</h1>


   <div class="govuk-form-group">

    <label class="govuk-label" for="email">
      Customer email address
    </label>
   
    <input class="govuk-input govuk-!-width-two-thirds" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
  </div>

  <div class="govuk-form-group">

    <label class="govuk-label" for="email">
      Case reference number
    </label>
   
    <input class="govuk-input govuk-!-width-two-thirds" id="caseid" name="caseid" type="caseid" spellcheck="false" aria-describedby="caseid-hint" autocomplete="caseid">
  

  
  </div>

 
  </form>

  <div class="govuk-!-padding-bottom-3"></div>
  <div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Continue
    </button>
    <a class="govuk-link" href="#">Cancel</a>
  </div>
</div>
</div>

 
{% endblock %}
