{% extends "layouts/main.html" %}

{% set pageName="V1" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<span class="govuk-caption-l">July 2025</span>
 <h1 class="govuk-heading-xl">Version 1</h1>

   <ul class="govuk-list govuk-list--bullet">
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="admin-dashboard">Admin dashboard</a>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="main-list">Main list</a>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="search-results">Search results</a>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="no-results">No results</a>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="user-record">User record</a>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="status-tag-examples">Status tag examples</a> <strong class="govuk-tag govuk-tag--pink">Not for dev</strong>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="not-provided-examples">Examples of how fields on main list would appear without optional info provided by user</a> <strong class="govuk-tag govuk-tag--pink">Not for dev</strong>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="user-record-not-provided">Example of how user record would appear without optional info provided by user</a> <strong class="govuk-tag govuk-tag--pink">Not for dev</strong>
  </li>
  
</ul>

<h2 class="govuk-heading-m">UCD draft pages</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="main-list-with-director">Main list with director column examples</a>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="main-list-with-director-late-page">Main list with director column, showing how it could look on a later page with records without confirmation statement dates</a>
  </li>
 
  



  </div>
</div>

{% endblock %}
