{% extends "layouts/main.html" %}

{% set pageName="V1" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

<span class="govuk-caption-l">July/August 2025</span>
 <h1 class="govuk-heading-xl">Version 1</h1>

   <ul class="govuk-list govuk-list--bullet">
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="admin-dashboard">Admin dashboard</a>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="ar-verification-details.html">Create verification record</a>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="ar-verification-details-error-new.html">Create verification record - error</a>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="main-list">Main list</a>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="main-list-late-page">Main list - example of a later page</a>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="search-results">Search results</a>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="no-results">No results</a>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="user-record">User record</a>
  </li>
  
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="status-tag-examples">Status tag examples</a> <strong class="govuk-tag govuk-tag--pink">Not for dev</strong>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="not-provided-examples">Examples of how fields on main list would appear without optional info provided by user</a> <strong class="govuk-tag govuk-tag--pink">Not for dev</strong>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="user-record-not-provided">Example of how user record would appear without optional info provided by user</a> <strong class="govuk-tag govuk-tag--pink">Not for dev</strong>
  </li>
  
</ul>

<h2 class="govuk-heading-l">Pages for reasonable adjustments</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="verification-details-adjustment">Create reasonable adjustment record</a>
  </li>
  <li>
    <a class="govuk-link govuk-link--no-visited-state" href="verification-confirmation-adjustment">Reasonable adjustment record created</a>
  </li>
</ul>


 
  



  </div>
</div>

{% endblock %}
