{% extends "layouts/main.html" %}
{# {% set mainClasses = "ch-main-full-width" %} #}

{% set pageName="Overseas users backlog" %}

{% block beforeContent %}
  {% include "/includes/back-link.html" %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


  



    
<p class="govuk-body">This page is to show the different status tags that could appear, it is not for development.</p>




<table class="govuk-table govuk-table--small-text-until-tablet">
  <caption class="govuk-visually-hidden">Overseas identity verification (IDV) backlog</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Case reference number</th>
      <th scope="col" class="govuk-table__header r">Due date of next confirmation statement</th>
      <th scope="col" class="govuk-table__header">Director</th>
      <th scope="col" class="govuk-table__header">Number of appointments</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date added to backlog</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="user-record"  class="govuk-link govuk-link--no-visited-state">AR123456</a></th>
      <td class="govuk-table__cell">20 November 2025</td>
      <td class="govuk-table__cell">Yes</td>
      <td class="govuk-table__cell">2</td>
      <td class="govuk-table__cell">18 November 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">In progress</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="user-record"  class="govuk-link govuk-link--no-visited-state">AR123456</a></th>
      <td class="govuk-table__cell">20 November 2025</td>
      <td class="govuk-table__cell">No</td>
      <td class="govuk-table__cell">Not provided</td>
      <td class="govuk-table__cell">18 November 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Verified</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="user-record"  class="govuk-link govuk-link--no-visited-state">AR123456</a></th>
      <td class="govuk-table__cell">20 November 2025</td>
      <td class="govuk-table__cell">Yes</td>
      <td class="govuk-table__cell">1</td>
      <td class="govuk-table__cell">18 November 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Verification failed</strong></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="user-record"  class="govuk-link govuk-link--no-visited-state">AR123456</a></th>
      <td class="govuk-table__cell">20 November 2025</td>
      <td class="govuk-table__cell">Yes</td>
      <td class="govuk-table__cell">1</td>
      <td class="govuk-table__cell">18 November 2025</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--purple">Backlog</strong></td>
    </tr>
  </tbody>
</table>



<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->




  






  


{% endblock %}
