{% extends "layouts/main.html" %}

{# {% set pageName="V1" %} #}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <div class="govuk-notification-banner govuk-notification-banner--success"  aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
     <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      Verification record created
    </h3>
    <p class="govuk-body">You have successfully created a verification record for Thomas James.</p>
  </div>
    </div>

  
    <h1 class="govuk-heading-l">What happens next</h1>


  <p>We'll send an email to <strong>thomasjames@gmail.com</strong> to tell them they've successfully verified their identity. We'll also provide them with their Companies House personal code.</p>


  <div class="govuk-!-padding-bottom-3"></div>
  

  <div class="govuk-button-group">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Go to admin dashboard
    </button>
  </div>

    <p class="govuk-body">
      <a href="ar-verification-search" class="govuk-link" rel="noreferrer noopener" target="_blank">Create another verification record</a>
    </p>

  </div>
</div>
{% endblock %}
